[Unit]
Description=Media Server
After=network.target

[Service]
Type=simple
DynamicUser=yes
Group=public
StateDirectory=media-server
CacheDirectory=media-server
WorkingDirectory=/var/lib/media-server
Environment="RUST_LOG=info"
ExecStart=/usr/bin/media-server --config /etc/media-server/config.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
